set bell-style none

set editing-mode vi

set keymap vi-command
# Vim style history search
"\C-k": history-search-backward
"\C-j": history-search-forward
"v":redraw-current-line

set keymap vi-insert
"jj": "\e"
